* {
  margin: 0;
}
.movie {
  margin: 10px;
  position: relative;
  border: 1px solid gray;
}
.movie__poster {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.movie__info {
  padding: 10px;
}

.movie__name {
  font-size: large;
}

.movie__language {
  font-size: small;
  color: gray;
}

.movie__rating {
  background-color: #fffe8f;
  color: black;
  border: 1px solid gray;
  font-weight: bold;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}
